<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link"routerLink="personal-information">Personal information</a>
        <a class="nav-item nav-link"routerLink="education">Education</a>
        <a class="nav-item nav-link"routerLink="work-experience">Work Experience</a>
         
        <a class="nav-item nav-link"routerLink="skills">Skills</a>
        <a class="nav-item nav-link"routerLink="project">Project</a>
        <a class="nav-item nav-link"routerLink="contact">Contact</a>
      </div>
    </div>
  </nav>
<ul>
        
             
             
             
 <router-outlet></router-outlet>
        

</ul> 

<app-baner appResponsive></app-baner>

